body {
	background-color: mediumseagreen;
	margin: 0;
}

p {
	margin: 0;
}

.nav-bar-container {
	align-items: center;
	background-color: seagreen;
	display: flex;
	height: 80px;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

.nav-bar-link {
	text-decoration-line: none;
}

.nav-bar-title {
	color: white;
}

.content-container {
	padding: 20px;
}

.content-container-paragraph {
	font-size: 24px;
	text-align: center;
}